from litestar.contrib.sqlalchemy.base import BigIntAuditBase
from sqlalchemy.orm import Mapped, mapped_column, relationship


class {{app_name.capitalize()}}(BigIntAuditBase):
    """{{app_name.capitalize()}} in DB model"""
    pass