from litestar.contrib.sqlalchemy.repository import SQLAlchemyAsyncRepository


class {{resource_name.capitalize()}}Repository(SQLAlchemyAsyncRepository[{{resource_name.capitalize()}}]): # pylint: disable=duplicate-bases
    """{{resource_name.capitalize()}} SQLAlchemy Repository."""

    model_type = {{resource_name.capitalize()}}